#footer {
  background-color: #fcfcfc;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid #ddd;
}

#footer .content {
  color: #888;
  display: inline-block;
}
#footer .content p a {
  color: #888;
  gap: 10px !important;
}
#footer .content a svg {
  margin-right: 6px;
}
.footer-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer-content > div {
  padding: 0 20px;
}
#footer .introduction {
  flex: 2;
}
#footer .introduction img {
  width: 100%;
}
.takecare {
  flex: 2;
}
.socialFollow {
  flex: 1.5;
}
.address {
  flex: 1.75;
}
